.chackin-button {
  height: 40px;
  width: 100px;
  background-color: #98a1ff;
  border: none;
  border-radius: 5px;
  color: white;
}
.rooms {
  margin: 4px;
  padding: 4px;
  width: 100%;
  height: 400px;
  
 
  
}
.left{
  width:24%;
  float: left;
}
.right{
  width:75%;
  float:right;
  margin-top: 7px;
  
}